#todo {
  display: block;
  padding-left: 10px;
  padding-top: 10px;
}


#empty-todo{
  display: block;
  padding-top: 15px;
  padding-left: 15px;
}

.todo-app {
  display: flex;
  flex-direction: row;;
}

#l{
  padding-left: 10px;
}